<BsModal
  class="winner-modal flex-center-align"
  @open={{true}}
  @onHidden={{this.closeModal}}
  as |modal|
>
  <modal.header>

    <h5 class="modal-title">
      {{#if (eq this.gameState.winner "Draw")}}
        The game is a draw!
      {{else}}
        {{concat this.gameState.winner " has won!"}}
      {{/if}}
    </h5>
  </modal.header>
  <modal.body class="modal-common">
    You could opt to play again, or view recent games!</modal.body>
  <modal.footer>

    <BsButton
      class="btn btn-secondary custom-btn flex-center-align"
      @onClick={{this.goToHistory}}
    >History</BsButton>
    <BsButton
      class="btn btn-dark custom-btn modal-play-btn flex-center-align"
      @onClick={{this.restartGame}}
    >Play again!</BsButton>
  </modal.footer>
</BsModal>